<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Drug Site</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- aria-current="page" -->

          <a
            class="nav-link"
            [routerLink]="['drugs']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Drugs</a
          >
        </li>
        <li class="nav-item">
          <!-- aria-current="page" -->

          <a
            class="nav-link"
            [routerLink]="['login']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [hidden]="isUserLogged"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <!-- aria-current="page" -->

          <a
            class="nav-link"
            [routerLink]="['register']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [hidden]="isUserLogged"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <button
            class="nav-link btn"
            [routerLink]="['login']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [hidden]="!isUserLogged"
            (click)="logout()"
          >
            Logout
          </button>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
