/* Start Landing */
.landing {
  /* background-color: var(--dark-color); */
  background-image: url("../../../assets/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: calc(100vh - 72px); */
  min-height: 75vh;
}
.landing-photo {
  max-height: 60vh;
  width: 98.9vw;
}
.title {
  /* margin-bottom: 400px; */
  background-color: var(--dark-color);
  border-radius: 30px;
}
.landing-info {
  /* margin-bottom: 350px; */
}

/* End Landing */

/* Start Features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder .svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}
/* End Features */
