<div class="container">
  <form [formGroup]="drugForm" class="m-3" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="arabicName" class="form-label">Arabic Name</label>
      <!-- [class.is-invalid]="fullName?.invalid"
      [class.is-valid]="fullName?.valid" -->
      <input
        type="text"
        formControlName="ar_Name"
        class="form-control"
        id="arabicName"
        name="arabicName"
      />
      <div
        class="alert alert-warning"
        [hidden]="ar_Name?.valid || ar_Name?.untouched"
      >
        <small *ngIf="ar_Name?.errors?.['required']">
          Arabic Name is required
        </small>
        <small *ngIf="ar_Name?.errors?.['pattern']">
          Arabic name must be 3 letters at least,
          <b>{{ar_Name?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="englishName" class="form-label">English Name</label>
      <!-- [class.is-invalid]="fullName?.invalid"
      [class.is-valid]="fullName?.valid" -->
      <input
        type="text"
        formControlName="en_Name"
        class="form-control"
        id="englishName"
        name="englishName"
      />
      <div
        class="alert alert-warning"
        [hidden]="en_Name?.valid || en_Name?.untouched"
      >
        <small *ngIf="en_Name?.errors?.['required']">
          English Name is required
        </small>
        <small *ngIf="en_Name?.errors?.['pattern']">
          English name must be 3 letters at least,
          <b>{{en_Name?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="parcode" class="form-label">Parcode</label>
      <!-- [class.is-invalid]="fullName?.invalid"
      [class.is-valid]="fullName?.valid" -->
      <input
        type="text"
        formControlName="parcode"
        class="form-control"
        id="parcode"
        name="parcode"
      />
      <div
        class="alert alert-warning"
        [hidden]="parcode?.valid || parcode?.untouched"
      >
        <small *ngIf="parcode?.errors?.['required']">
          Parcode is required
        </small>
        <small *ngIf="parcode?.errors?.['pattern']">
          Parcode must be 3 letters at least,
          <b>{{parcode?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="purpose" class="form-label">Purpose</label>
      <!-- [class.is-invalid]="fullName?.invalid"
      [class.is-valid]="fullName?.valid" -->
      <input
        type="text"
        formControlName="purpose"
        class="form-control"
        id="purpose"
        name="purpose"
      />
      <div
        class="alert alert-warning"
        [hidden]="purpose?.valid || purpose?.untouched"
      >
        <small *ngIf="purpose?.errors?.['required']">
          Purpose is required
        </small>
        <small *ngIf="purpose?.errors?.['pattern']">
          Purpose must be 3 letters at least,
          <b>{{purpose?.errors?.['pattern'].actualValue}}</b> dosen't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="companyId" class="form-label">Company</label>
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="companyId"
        name="company"
        id="companyId"
      >
        <option
          *ngFor="let company of companiesList; index as i"
          [value]="company.id"
        >
          {{ company.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="typeId" class="form-label">Type</label>
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="typeId"
        name="type"
        id="typeId"
      >
        <option *ngFor="let type of typesList; index as i" [value]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="categoryId" class="form-label">Category</label>
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="categoryId"
        name="category"
        id="categoryId"
      >
        <option
          *ngFor="let category of categoriesList; index as i"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- <div class="mb-3">
      <label for="effectiveMatrials" class="form-label"
        >Effective Materials</label
      >
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="effectiveMatrials"
        name="effectiveMatrials"
        id="effectiveMatrials"
      >
        <option
          *ngFor="let item of effectiveMatrialsList; index as i"
          [value]="item.id"
        >
          {{ item.name }}
        </option>
      </select>
    </div> -->

    <div class="mb-3">
      <label for="purpose" class="form-label">Is Trading Permitted</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="true"
          id="permitted"
          formControlName="isTradingPermitted"
        />
        <label class="form-check-label" for="permitted">Permitted</label>
      </div>
    </div>

    <!-- <div class="alert alert-warning" *ngIf="ifError">
      <small> {{ errorMessage }} </small>
    </div> -->

    <button [disabled]="drugForm.invalid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
