<div class="container">
  <form [formGroup]="userLoginForm" class="m-3" (ngSubmit)="login()">
    <div class="mb-3">
      <!-- [class.is-invalid]="fullName?.invalid"
      [class.is-valid]="fullName?.valid" -->
      <label for="uname" class="form-label">Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        id="uname"
        name="username"
      />
      <div
        class="alert alert-warning"
        [hidden]="username?.valid || username?.untouched"
      >
        <small *ngIf="username?.errors?.['required']">
          Full Name is required
        </small>
        <small *ngIf="username?.errors?.['pattern']">
          Full name must be 5 letters at least,
          <b>{{username?.errors?.['pattern'].actualValue}}</b> dosn't match.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="uPass" class="form-label">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="uPass"
        name="userpassword"
      />
      <div
        class="alert alert-warning"
        [hidden]="password?.valid || password?.untouched"
      >
        <small *ngIf="password?.errors?.['required']">
          Password is required
        </small>
      </div>
    </div>

    <button
      [disabled]="userLoginForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Login
    </button>
  </form>

  <!-- <hr />
  <div class="text-danger">
    <h3>To be removed [For test]:</h3>
    <div>Form Value:{{ userLoginForm.value | json }}</div>

    <div>
      Form Errors:{{ userLoginForm.errors | json }}
      <br />
      test {{userLoginForm?.errors?.['UnmatchedPassword']}}
    </div>

    <div>

      Full Name errors:{{ fullName?.errors | json }}
    </div>
    <div>

      Referral errors:{{ userLoginForm.get("referralOther")?.errors | json }}
    </div>
  </div> -->
</div>
